{% extends 'registration/base.html.twig' %}

{% block title %}Registration Complete - StreamPlus{% endblock %}

{% block card_title %}Registration Complete{% endblock %}

{% block registration_body %}
    <div class="text-center">
        <div class="mb-4">
            <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
        </div>
        <h4>Thank you for registering with StreamPlus!</h4>
        <p class="lead">Your account has been successfully created.</p>
        <p>You can now start enjoying our streaming services.</p>
        <div class="mt-4">
            <a href="{{ path('app_home') }}" class="btn btn-primary">Go to Homepage</a>
        </div>
    </div>
{% endblock %} 